body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    background-image: url(../images/header/rectangle-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 37px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand_logo {
    width: 86px;
    height: 72px;
    flex-shrink: 0;
    background: url(../images/header/rectangle-2.png), lightgray -38px -43.5px / 196.512% 234.722% no-repeat;
}

.brand_slogan {
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.header-list-category {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.header-list-category_con {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about {
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
}

.about-left {
    flex-basis: 100%;
    height: 450px;
    flex-shrink: 0;
    background-image: url(../images/about/rectangle-4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about-right {
    flex-basis: 100%;
    height: 450px;
    background: #9CAB70;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-right_title {
    color: #FFF;
    font-family: Kaisei Decol;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 41px 0px 27px;
}

.about-right_describe {
    height: 173px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
    background: #EEE;
}
    
.product-title {
    color: #000;
    font-family: Kaisei Decol;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 58px auto 94px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-content_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.product-content_card_image {
    width: 195px;
    height: 190px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-bottom: 13px;
}

.card_image-1 {
    background: url(../images/product/ellipse-1.png), lightgray 50% / cover no-repeat;
}

.card_image-2 {
    background: url(../images/product/ellipse-2.png), lightgray 50% / cover no-repeat;
}

.card_image-3 {
    background: url(../images/product/ellipse-3.png), lightgray 50% / cover no-repeat;
}

.card_image-4 {
    background: url(../images/product/ellipse-4.png), lightgray 50% / cover no-repeat;
}

.product-content_card_title {
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 4px;
}

.product-content_card_describe {
    color: #000;
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 274px;
    height: 274px;
    flex-shrink: 0;
}

.discount {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
    justify-content: space-between;
}

.discount-left {
    flex-basis: 100%;
    height: 354px;
    flex-shrink: 0;
    background: #9CAB70;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-left_title {
    color: #FFF;
    text-align: center;
    font-family: Italiana;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 26px 0px 15px;
}

.discount-left_describe {
    width: 100%;
    height: 103px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 34px;
}

.discount-left_button {
    width: 227px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #68763F;
    background: rgba(255, 255, 255, 0.80);
    margin-bottom: 44px;
}

.discount-left_button_text {
    width: 205px;
    height: 46px;
    flex-shrink: 0;
    color: #383F26;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.discount-right {
    flex-basis: 100%;
    height: 355px;
    flex-shrink: 0;
    background: url(../images/discount/rectangle-8.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right;
}

.contact {
    width: 100%;
    height: 598px;
    flex-shrink: 0;
    background: url(../images/contact/rectangle-10.png), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.contact-card {
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    background: #FAFAFA;
    padding: 36px 46px 58px;
    box-sizing: border-box;
}

.contact-card_label {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.contact-card_infor {
    margin-bottom: 34px;
    height: 56px;
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
    border-radius: 15px;
    border: 4px solid #9CAB70;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-card_infor input {
    flex: 1; /* Cho phép input mở rộng để điền vào phần còn lại của div */
    margin-left: 24px;
    margin-right: 24px;
    color: #787B6D;
    text-align: left;
    font-family: Jost;
    font-size: 32px; /* Đặt kích thước phù hợp với thiết kế */
    font-weight: 400;
    line-height: normal;
    border: none;
    height: 46px;
    border-radius: 15px;
}


.contact-card_message {
    margin-bottom: 47px;
    height: 135px;
    flex-shrink: 0;
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    align-items: start; /* Căn giữa theo chiều dọc */
    border-radius: 20px;
    border: 4px solid #9CAB70;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-card_message textarea {
    flex: 1; /* Cho phép input mở rộng để điền vào phần còn lại của div */
    margin-left: 24px;
    margin-right: 24px;
    color: #787B6D;
    text-align: left;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 15px;
    height: 100%;
}

.contact-card_button {
    width: 153px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 4px solid #9CAB70;
    background: #68763F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    float: right;
}

.contact-card_button_text {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list-icon {
    display: flex;
    margin-top: 13px;
    margin-bottom: 17px;
    gap: 24px;
}

.footer-list-icon_con {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.footer-list-category {
    display: flex;
    gap: 15px;
}

.footer-list-category_con {
    color: #9CAB70;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (min-width: 600px) and (max-width: 1258px) {
    .header {
        height: 600px;
    }

    .header-list-category {
        gap: 15px;
    }

    .header-list-category_con {
        font-size: 28px;
    }

    .about {
        flex-wrap: nowrap;
    }

    .about-left {
        flex-basis: 35.625%;
    }
    
    .about-right {
        flex-basis: 64.375%;
    }
    
    .product-content_card {
        flex-basis: 50%;
    }

    .discount {
        flex-wrap: nowrap;
    }
    
    .discount-left {
        flex-basis: 64%;
    }
    
    .discount-left_title {
        font-size: 40px;
    }
    
    .discount-left_describe {
        font-size: 24px;
    }

    .discount-right {
        flex-basis: 35%;
    }

    .contact-card {
        width: 607px;
    }

    .footer-list-category {
        gap: 15px;
    }
    
    .footer-list-category_con {
        font-size: 28px;
    }
}

@media screen and (min-width: 1258px) {
    .header {
        height: 863px;
    }

    .header-list-category {
        gap: 15px;
    }

    .header-list-category_con {
        font-size: 32px;
    }

    .about {
        flex-wrap: nowrap;
    }

    .about-left {
        flex-basis: 35.625%;
    }
    
    .about-right {
        flex-basis: 64.375%;
    }

    .product-content {
        flex-wrap: nowrap;
        gap: 54px;
    }
    
    .product-content_card {
        flex-basis: 25%;
    }

    .discount {
        flex-wrap: nowrap;
    }
    
    .discount-left {
        flex-basis: 64%;
    }
    
    .discount-left_title {
        font-size: 64px;
    }
    
    .discount-left_describe {
        font-size: 32px;
    }

    .discount-right {
        flex-basis: 35%;
    }

    .contact-card {
        width: 607px;
    }

    .header-list-category {
        gap: 15px;
    }
    
    .footer-list-category_con {
        font-size: 32px;
    }
}